<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Destination | GoExplore! Travel Website Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="assets/css/imports.css" media="screen">
		<link rel="stylesheet" href="assets/css/bootstrap.css" media="screen">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="destination destination-home">

		<div id="top"></div>

		<!-- Navigation (main menu)
				================================================== -->

		<div class="navbar-wrapper">
			<header class="navbar navbar-default navbar-fixed-top" id="MainMenu">
				<div class="navbar-extra-top clearfix">
					<div class="navbar container-fluid">
						<ul class="nav navbar-nav navbar-left">
							<li class="menu-item"><a href="contact.html"><i class="fa fa-envelope"></i> Contact Us</a></li>
							<li class="menu-item"><a href="#"><i class="fa fa-suitcase"></i> Join the Explorers!</a></li>
							<li class="menu-item"><a href="login.html"><i class="fa fa-sign-in"></i> Sign in</a></li>
						</ul>
						<div class="navbar-top-right">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus fa-fw"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram fa-fw"></i></a></li>
							</ul>
							<form class="navbar-form navbar-right navbar-search" role="search" action="search.html">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search">
								</div>
								<button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
							</form>
						</div>
					</div>
				</div>

				<div class="container-fluid collapse-md" id="navbar-main-container">
					<div class="navbar-header">
						<a href="index.html" class="navbar-brand"><img alt="GoExplore!" src="assets/images/logo.png"><span class="sr-only">&nbsp; GoExplore!</span></a>
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<nav class="navbar-collapse collapse" id="navbar-main">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown show-on-hover">
								<a class="dropdown-toggle" data-toggle="dropdown" href="destinations.html">Destinations</a>
								<ul class="dropdown-menu">
									<li class="dropdown-submenu show-on-hover">
										<a class="dropdown-toggle" data-toggle="dropdown" href="destination-parent.html">Africa</a>
										<ul class="dropdown-menu">
											<li><a href="destination-sub-page.html">Algeria</a></li>
											<li><a href="destination-sub-page.html">Cape Verde</a></li>
											<li><a href="destination-sub-page.html">Egypt</a></li>
											<li><a href="destination-sub-page.html">Ghana</a></li>
											<li><a href="destination-sub-page.html">Kenya</a></li>
											<li><a href="destination-sub-page.html">Morocco</a></li>
											<li><a href="destination-sub-page.html">South Africa</a></li>
											<li><a href="destination-sub-page.html">Uganda</a></li>
											<li><a href="destination-sub-page.html">Western Sahara</a></li>
											<li><a href="destination-sub-page.html">Zambia</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu show-on-hover">
										<a class="dropdown-toggle" data-toggle="dropdown" href="destination-parent.html">Asia</a>
										<ul class="dropdown-menu">
											<li><a href="destination-sub-page.html">Bhutan</a></li>
											<li><a href="destination-sub-page.html">Cambodia</a></li>
											<li><a href="destination-sub-page.html">China</a></li>
											<li><a href="destination-sub-page.html">India</a></li>
											<li><a href="destination-sub-page.html">Japan</a></li>
											<li><a href="destination-sub-page.html">Malaysia</a></li>
											<li><a href="destination-sub-page.html">Nepal</a></li>
											<li><a href="destination-sub-page.html">Singapore</a></li>
											<li><a href="destination-sub-page.html">Thailand</a></li>
											<li><a href="destination-sub-page.html">Vietnam</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu show-on-hover">
										<a class="dropdown-toggle" data-toggle="dropdown" href="destination-parent.html">Canada</a>
										<ul class="dropdown-menu">
											<li><a href="destination-sub-page.html">Alberta</a></li>
											<li><a href="destination-sub-page.html">British Columbia</a></li>
											<li><a href="destination-sub-page.html">Montréal</a></li>
											<li><a href="destination-sub-page.html">Nova Scotia</a></li>
											<li><a href="destination-sub-page.html">Ontario</a></li>
											<li><a href="destination-sub-page.html">Québec</a></li>
											<li><a href="destination-sub-page.html">Toronto</a></li>
											<li><a href="destination-sub-page.html">Vancouver</a></li>

										</ul>
									</li>
									<li class="dropdown-submenu show-on-hover">
										<a class="dropdown-toggle" data-toggle="dropdown" href="destination-parent.html">Central America </a>
										<ul class="dropdown-menu">
											<li><a href="destination-sub-page.html">Belize</a></li>
											<li><a href="destination-sub-page.html">Costa Rica</a></li>
											<li><a href="destination-sub-page.html">El Salvador</a></li>
											<li><a href="destination-sub-page.html">Guatamala</a></li>
											<li><a href="destination-sub-page.html">Honduras</a></li>
											<li><a href="destination-sub-page.html">Nicaragua</a></li>
											<li><a href="destination-sub-page.html">Panama</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu show-on-hover">
										<a class="dropdown-toggle" data-toggle="dropdown" href="destination-parent.html">Europe</a>
										<ul class="dropdown-menu">
											<li><a href="destination-sub-page.html">Belgium</a></li>
											<li><a href="destination-sub-page.html">Denmark</a></li>
											<li><a href="destination-sub-page.html">France</a></li>
											<li><a href="destination-sub-page.html">Greece</a></li>
											<li><a href="destination-sub-page.html">Ireland</a></li>
											<li><a href="destination-sub-page.html">Sweden</a></li>
											<li><a href="destination-sub-page.html">Spain</a></li>
											<li><a href="destination-sub-page.html">Ukraine</a></li>
											<li><a href="destination-sub-page.html">United Kingdom</a></li>
										</ul>
									</li>

									<li class="dropdown-submenu show-on-hover">
										<a class="dropdown-toggle" data-toggle="dropdown" href="destination-parent.html">United States</a>
										<ul class="dropdown-menu">
											<li><a href="destination-sub-page.html">Alaska</a></li>
											<li><a href="destination-sub-page.html">California</a></li>
											<li><a href="destination-sub-page.html">Florida</a></li>
											<li><a href="destination-sub-page.html">Georgia</a></li>
											<li><a href="destination-sub-page.html">Hawaii</a></li>
											<li><a href="destination-sub-page.html">New York</a></li>
											<li><a href="destination-sub-page.html">Nevada</a></li>
											<li><a href="destination-sub-page.html">Texas</a></li>
											<li><a href="destination-sub-page.html">Utah</a></li>
										</ul>
									</li>
								</ul>
							</li>

							<li class="dropdown show-on-hover">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore</a>
								<ul class="dropdown-menu">
									<li><a href="destinations-list.html">Adventure</a></li>
									<li><a href="destinations-list.html">Beaches</a></li>
									<li><a href="destinations-list.html">City Life</a></li>
									<li><a href="destinations-list.html">Culture &amp; History</a></li>
									<li><a href="destinations-list.html">Family Fun</a></li>
									<li><a href="destinations-list.html">Mountains</a></li>
									<li><a href="destinations-list.html">Off the Beaten Path</a></li>
									<li><a href="destinations-list.html">Stunning Vistas</a></li>
								</ul>
							</li>

							<li><a href="blog.html">News &amp; Articles</a></li>
							<li><a href="page.html">Specials</a></li>
						</ul>
					</nav>
				</div><!-- /.container-fluid -->
			</header>
		</div><!-- /.navbar-wrapper -->


		<!-- Hero Section
				================================================== -->
		<section class="hero large-hero destination-header" style="background-image: url('assets/images/destination-6.jpg');">
			<div class="bg-overlay">
				<div class="container">
					<div class="intro-wrap">
						<h1 class="intro-title">San Francisco</h1>
						<!-- <div class="intro-text">
									<p>And more text below if you need it...</p>
								</div> -->
						<ul class="breadcrumbs">
							<!-- <li class="no-arrow"><a href="#" class="destination-context-menu"><i class="fa fa-ellipsis-v"></i><a></li> -->
							<li class="no-arrow"><i class="icon fa fa-map-marker"></i></li>
							<li><a href="destination-parent.html">North America</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>


		<!-- Sub Navigation
		================================================== -->
		<div class="sub-nav">
			<div class="navbar navbar-inverse affix-top" id="SubMenu" style="top: 74px;">
				<div class="container">
					<div class="navbar-header">
						<a href="javascript:void(0)" class="navbar-brand scrollTop"><i class="fa fa-fw fa-map-marker"></i> San Francisco, USA</a>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-sub">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<!-- Sub Nav Links -->
					<nav class="navbar-collapse collapse" id="navbar-sub">
						<ul class="nav navbar-nav navbar-left">
							<li><a href="destinations-list.html">Places</a></li>
							<li class="dropdown show-on-hover">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Information <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="guide-single.html">About</a></li>
									<li><a href="guide-single.html">Planning a Trip</a></li>
									<li><a href="guide-single.html">Getting Around</a></li>
									<li><a href="guide-single.html">History &amp; Culture</a></li>
									<li><a href="guide-single.html">Top Attractions</a></li>
									<li><a href="guide-single.html">Travel Resources</a></li>
									<li><a href="guide-single.html">Highlights</a></li>
									<li><a href="guide-single.html">Events</a></li>
									<li><a href="guide-single.html">Itineraries</a></li>
								</ul>
							</li>
							<li class="dropdown show-on-hover">
								<a href="directory-category.html" class="dropdown-toggle" data-toggle="dropdown">Directory <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="directory-category.html">Food &amp; Drinks</a></li>
									<li><a href="directory-category.html">Attractions</a></li>
									<li><a href="directory-category.html">Services</a></li>
									<li><a href="directory-category.html">Activities</a></li>
									<li><a href="directory-category.html">Shopping</a></li>
									<li><a href="directory-category.html">Nightlife</a></li>
									<li><a href="directory-category.html">Tours</a></li>
								</ul>
							</li>
							<li><a href="blog.html">Articles</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#"><i class="fa fa-fw fa-heart-o"></i></a></li>
							<li class="dropdown show-on-hover">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-share-alt"></i></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#"><i class="fa fa-fw fa-facebook-official"></i> Facebook</a></li>
									<li><a href="#"><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>
									<li><a href="#"><i class="fa fa-fw fa-google-plus"></i> Google +</a></li>
									<li><a href="#"><i class="fa fa-fw fa-pinterest"></i> Pinterest</a></li>
									<li><a href="#"><i class="fa fa-fw fa-instagram"></i> Instagram</a></li>
									<li><a href="#"><i class="fa fa-fw fa-envelope"></i> Email</a></li>
								</ul>
							</li>
							<li><a href="#" data-toggle="tooltip" title="Download in PDF format."><i class="fa fa-fw fa-file-pdf-o"></i></a></li>
							<li><a href="#" data-toggle="tooltip" title="Print and take with you!"><i class="fa fa-fw fa-print"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- /.sub-nav -->


		<!-- Main Section
				================================================== -->

		<section class="main">
			<div class="container">

				<h3 class="hidden">Destination</h3>

				<div class="row">
					<div class="col-sm-12 col-fixed-content">
						<div class="intro">
							<p class="lead">San Francisco is a major city in California, the center piece of the Bay Area.</p>

							<div class="entry-content">
								<div class="wp-caption alignright pull-right" style="width: 310px;">
									<img alt="San Francisco Sky Line" class="size-large" height="200" src="assets/images/image-in-content-1.jpg" width="300">

									<p class="wp-caption-text">San Francisco Sky Line
									</p>
								</div>

								<p>Although huge in terms of offerings, San Francisco is physically quite compact. It is located on a seven-by-seven mile (11 x 11km) square of land at the tip of a peninsula between the San Francisco Bay and the Pacific coast. It has a population
									of 812,000 which represents a small fraction of the entire Bay Area population of 7.1 million.
								</p>

								<p>With a mild climate including cool, wet winters and dry summers, for the most part you can expect the high’s in the upper 50s, 60s or low 70s. It’s almost never warmer than 73, never colder than 50. The nights are chilly so carry a light jacket.</p>
							</div>
						</div>

						<section class="narrow page-info">
							<div class="title-row">
								<h3 class="title-entry">Information</h3>
								<a class="btn btn-primary btn-xs" href="guide-single.html">Find More &nbsp;
									<i class="fa fa-angle-right"></i>
								</a>
							</div>

							<div class="row">
								<div class="col-sm-12 col-lg-8">
									<a class="page-box-link" href="guide-single.html">
										<article class="page-box">
											<h3 class="entry-title">About</h3>

											<p class="entry-excerpt">Spread across a large area, this destination is nothing if not diverse. Choosing a single place to focus your time, that is a true challenge. There are attractions everywhere so be ready to come back another day, and after some time here, that’s
												exactly what you’ll want to do. Exploring the Area The biggest cities are along the coast. History …</p>

											<p class="more-link">Read more</p>

											<div class="page-box-destination">
												<span><i class="fa fa-map-marker"></i>
													San Francisco, USA</span>
											</div>
										</article>
									</a>
								</div>

								<div class="col-sm-6 col-lg-4">
									<a class="page-box-link" href="guide-single.html">
										<article class="page-box">
											<h3 class="entry-title">Planning a
												Trip</h3>

											<p class="entry-excerpt">Visas Check with the appropriate consulate or embassy in your country to find out if you will need a visa to visit the country of your destination, especially for an extended period of time. Some countries have extremely detailed and complicated
												entry/departure laws, and treat visits of a week or two very differently from longer stays. Money If you’re traveling …</p>

											<p class="more-link">Read more</p>

											<div class="page-box-destination">
												<span><i class="fa fa-map-marker"></i>
													San Francisco, USA</span>
											</div>
										</article>
									</a>
								</div>

								<div class="col-sm-6 col-lg-4">
									<a class="page-box-link" href="guide-single.html">
										<article class="page-box">
											<h3 class="entry-title">Getting Around</h3>

											<p class="entry-excerpt">A perfect city for exploring on foot with a shop around every corner. Much of the inner city can be walked without trouble, however, in parts walking include crowds, uneven streets, heavy traffic, and skinny sidewalks. If that’s a problem, there
												are plenty of taxi’s to ride in and scooters to rent. How to Travel Subway – The metro is …</p>

											<p class="more-link">Read more</p>

											<div class="page-box-destination">
												<span><i class="fa fa-map-marker"></i>
													San Francisco, USA</span>
											</div>
										</article>
									</a>
								</div>

								<div class="col-sm-6 col-lg-4">
									<a class="page-box-link" href="guide-single.html">
										<article class="page-box">
											<h3 class="entry-title">History &amp;
												Culture</h3>

											<p class="entry-excerpt">Early History Home to years of history, which stretched far and wide. Due to the characteristic weather, the earliest explorers completely bypassed the area. The first settlement in the area was founded 1770 as a mission community. In addition
												to the mission, a military fort was built. Upon gaining independence, the area grew quickly. The old system gradually came to …</p>

											<p class="more-link">Read more</p>

											<div class="page-box-destination">
												<span><i class="fa fa-map-marker"></i>
													San Francisco, USA</span>
											</div>
										</article>
									</a>
								</div>

								<div class="col-sm-6 col-lg-4">
									<a class="page-box-link" href="guide-single.html">
										<article class="page-box">
											<h3 class="entry-title">Top Attractions</h3>

											<p class="entry-excerpt">Take a look at each of our stunning locations and imagine yourself there: Lakes and Mountains Stay in our four star lakeside accommodation, whether you choose one of our log chalets or a contemporary apartment, you will look over stunning views
												of the valley. Perhaps go for a gentle stroll around the local village, a refreshing swim in the beautifully …</p>

											<p class="more-link">Read more</p>

											<div class="page-box-destination">
												<span>
													<i class="fa fa-map-marker"></i> San Francisco, USA
												</span>
											</div>
										</article>
									</a>
								</div>
							</div>
						</section>
					</div>

					<div class="col-sm-12 col-fixed-sidebar">
						<div class="sidebar-padder">
							<aside class="widget widget_text">
								<div class="textwidget">
									<img alt="my travel agency" height="600" src="assets/images/sidebar-ad.jpg" title="Find out where you belong." width="300">
								</div>
							</aside>

							<aside class="widget widget_nav_menu">
								<h3 class="widget-title">Top Destinations</h3>

								<div class="menu-top-destinations-container">
									<ul class="menu" id="menu-top-destinations">
										<li class="menu-item">
											<a href="destination-sub-page.html">London, England</a>
										</li>

										<li class="menu-item">
											<a href="destination-sub-page.html">Sydney, Australia</a>
										</li>

										<li class="menu-item">
											<a href="destination-sub-page.html">Chicago, USA</a>
										</li>

										<li class="menu-item">
											<a href="destination-sub-page.html">San Francisco, USA</a>
										</li>

										<li class="menu-item">
											<a href="destination-sub-page.html">Toronto, Canada</a>
										</li>

										<li class="menu-item">
											<a href="destination-sub-page.html">Buenos Aires, Argentina</a>
										</li>

										<li class="menu-item">
											<a href="destination-sub-page.html">Queenstown, New Zealand</a>
										</li>

										<li class="menu-item">
											<a href="destination-sub-page.html">Santorini, Greece</a>
										</li>
									</ul>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- Footer
		================================================== -->
		<footer id="footer">
			<section class="top-footer regular">
				<div class="container">
					<div class="row">

						<h3 class="hidden">More Resources</h3>

						<div class="col-lg-9">
							<div class="footer-content-left">

								<p style="font-size:14px; color:#aaa;">
									<a href="page.html">About Us</a> &nbsp; | &nbsp;
									<a href="login.html">Sign in</a> &nbsp; | &nbsp;
									<a href="cover-with-page-content.html">Be an Explorer!</a> &nbsp; | &nbsp;
									<a href="destinations.html">Destinations</a> &nbsp; | &nbsp;
									<a href="blog.html">Blog</a> &nbsp; | &nbsp;
									<a href="contact.html">Contact us</a>
								</p>

								<p style="font-size:14px; color: #999; margin-bottom:0;">
									<strong>An HTML travel template for destinations, guides, blogs, hotels, resorts, tours, vacations, events, and more for a perfect travel experience!</strong>

									<br>Created by <a href="http://para.llel.us" target="_blank">Parallelus</a> and available for purchase on <a href="http://para.llel.us/+/get-goexplore-html" target="_blank">ThemeForest</a>.
								</p>

							</div>
						</div>

						<div class="col-lg-3">
							<div class="footer-content-right">
								<div style="text-align: right;" class="visible-lg-block">
									<img src="assets/images/logo-symbol-complex-colors.png" alt="GoExplore!" width="1024" height="565" style="max-width: 175px;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/custom.js"></script>
	</body>
</html>