<div class="navbar-wrapper">
			<header class="navbar navbar-default navbar-fixed-top" id="MainMenu">
				<div class="navbar-extra-top clearfix">
					<div class="navbar container-fluid" data-ng-controller="CartsController">
						<ul class="nav navbar-nav navbar-left">
							<li class="menu-item"><a href="contact.html"><i class="fa fa-envelope"></i> Contact Us</a></li>
							<li class="menu-item"><a href="/cart"><i class="fa fa-envelope"></i> {{toursData != 0 ? toursData : null}}</a></li>
							<!--<li class="menu-item"><a href="#"><i class="fa fa-suitcase"></i> Join the Explorers!</a></li>
							<li class="menu-item"><a href="login.html"><i class="fa fa-sign-in"></i> Sign in</a></li> -->
						</ul>
						<div class="navbar-top-right">
							<ul class="nav navbar-nav navbar-right">
						<!-- 		<li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus fa-fw"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram fa-fw"></i></a></li> -->
							</ul>
							<form class="navbar-form navbar-right navbar-search" role="search" action="#">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search">
								</div>
								<button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
							</form>
						</div>
					</div>
				</div>

				<div class="container-fluid collapse-md" id="navbar-main-container">
					<div class="navbar-header">
						<a href="/" class="navbar-brand"><img alt="GoExplore!" src="../assets/images/logo.png"><span class="sr-only">&nbsp; GoExplore!</span></a>
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<nav class="navbar-collapse collapse" id="navbar-main">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/tours/explorer">Daily Tour - Explorer</a></li>

							<li><a href="/tours/excusions">Daily Tour - Excursion</a></li>
								
							<li><a href="/tours/roundtrip">Round Trip</a></li>
								
							<li><a href="/tours/transportation-and-rental">Transportation & Rental</a></li>
						</ul>
					</nav>
				</div><!-- /.container-fluid -->
			</header>
		</div><!-- /.navbar-wrapper -->